*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

.pagina{
    background-color: aqua;
    width: 40%;
    padding: 100px;
}

.item{
    background-color: blue;
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}

.item:last-child{
    margin-bottom: 0;
}