* {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 28px;
}

body {
    padding: 10px;
}

button {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}

@media(hover: hover) {
        button:hover:not(.certo):not(.errado) {
            cursor: pointer;
            background-color: blue;
    }
}

.certo {
    background-color: green;
}

.errado {
    background-color: red;
}

.ask-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: beige;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}