.aumenta {
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: red;
    width: 100px;
    height: 100px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px; /*o gap nn funciona se os iens tiverem tamanho fixo*/
}