ul {
    background-color: black;
    padding: 4px;
    display: flex; /*precisa para poder dar o gap*/
    gap: 15px;
    overflow: auto;
}

li {
    float: left;
}

p, a {  
    background-color: rgb(81, 81, 81);
    padding: 10px;
}

.container {
    display: none;
}

.link:hover, .container {
    display: inline-block;
}
