body {
    background-color: antiquewhite;
}

#back2 {
    height: 600px;
    background-image: url(https://static.zerochan.net/Oguri.Cap.full.4477616.jpg);
}

#back3 {
    height: 600px;
    background-image: url(https://static.zerochan.net/Oguri.Cap.full.4477616.jpg);
    background-size: contain; /*nn corta a imagem para caber na div*/
}

#back4 {
    height: 600px;
    background-image: url(https://static.zerochan.net/Oguri.Cap.full.4477616.jpg);
    background-size: cover; /*nn repete a imagem, mas preenche tudo*/
}

#back5 {
    height: 600px;
    background-image: url(https://static.zerochan.net/Oguri.Cap.full.4477616.jpg);
    background-repeat: no-repeat; /*nn repete a imagem em preencher tudo*/
}

#back6 {
    height: 600px;
    background-image: url(https://static.zerochan.net/Oguri.Cap.full.4477616.jpg);
    background-repeat: no-repeat;
    background-position: center; /*posiciona no centro*/
}