#div1 {
    display: inline; /*pega somente até o fim do conteudo*/
    border: 3px solid #000000
}

#div2 {
    display: inline; /*vai ficar do lado da div1*/
    border: 3px solid #000000
}

#nnExiste {
    display: none; /*auto explicativo*/
}

#div3 {
    display: block; /*padrão; ocupa todo o espaço da linha*/
    border: 3px solid #000000
}

#talvezExista {
    visibility: hidden;
}

#div4 {
    display: inline-block; /*aceita mudança de altura e largura, diferente do inline*/
    height: 30px;
    border: 3px solid #000000
}

li {
    display: inline; /*perde os pontos*/
}

/*
        display: flex

    justify-content:
    flex-start (default); flex-end; center; space-between; space-around; space-evenly

    align-items:
    flex-start; flex-end; center; baseline; stretch (default)
*/